<div class="row mt-4">
  <div class="col-lg-8">
    <table class="table table-hover table-striped border">
      <thead>
        <tr>
          <th>Renk</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let color of colors | colorFilter: colorFilterText">
          <td>{{ color.colorName }}</td>
          <td class="text-end">
            <button
              class="btn btn-sm btn-primary rounded-pill px-4 ms-lg-2"
              routerLink="/color/update/{{ color.colorId }}"
            >
              <i class="bi-penci"></i> Güncelle
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-lg-5">
  <input
    type="text"
    [(ngModel)]="colorFilterText"
    class="form-control rounded-0 mb-3"
    placeholder="Renk Ara..."
    autocomplete="off"
  />
</div>
