.body {
  height: 70vh;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: #0d6efd;
}

.login {
  color: #0d6efd;
  transition: all 0.2s;
}

.login:hover {
  cursor: pointer;
  color: #043d94;
}

.login:focus {
  outline-width: 0;
}
