<h1>
  Markalar
  <span
    ><button
      class="btn btn-sm btn-primary rounded-pill px-4 ms-lg-3"
      routerLink="/brand/add"
    >
      <b>Yeni Marka Ekle</b>
    </button></span
  >
</h1>
<div class="col-lg-5">
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control rounded-0 mb-3"
    placeholder="Marka Ara..."
    autocomplete="off"
  />
</div>
<div class="row mt-4">
  <div class="col-lg-8">
    <table class="table table-hover table-striped border">
      <thead>
        <tr>
          <th>Marka</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands | brandFilter: filterText">
          <td>{{ brand.brandName }}</td>
          <td class="text-end">
            <button
              routerLink="/brand/delete/{{ brand.brandId }}"
              class="btn btn-sm btn-primary rounded-pill px-4 ms-lg-2"
            >
              <b>Sil</b>
            </button>
            <button
              class="btn btn-sm btn-primary rounded-pill px-4 ms-lg-2"
              routerLink="/brand/update/{{ brand.brandId }}"
            >
              <b>Güncelle</b>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
