<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="d-grid mb-3">
        <button
          class="btn btn-primary rounded-pill px-7 ms-lg-2"
          routerLink="/car/add"
        >
          <b>Yeni Araba Ekle</b>
        </button>
      </div>
      <h4 style="text-align: center">Filtrele</h4>
      <app-car-filter></app-car-filter>
    </div>
    <div class="col-md-9">
      <input
        type="text"
        [(ngModel)]="filterText"
        class="form-control rounded-0 mb-3"
        placeholder="Araba Ara..."
        autocomplete="off"
      />

      <div class="row">
        <div
          class="col-sm-6"
          *ngFor="let car of carDetails | carFilter: filterText"
        >
          <div class="card">
            <img
              *ngFor="let carImage of carImages"
              src="{{ imageBaseUrl + carImage.imagePath }}"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">{{ car.description }}</h5>
              <p class="card-text">
                Renk: {{ car.colorName }} <br />
                Model Yılı: {{ car.modelYear }} <br />
                Fiyatı: {{ car.dailyPrice }}
              </p>
              <button
                class="btn btn-primary rounded-pill px-3"
                routerLink="/car/detail/{{ car.carId }}"
              >
                <b>İncele</b>
              </button>
              <button
                class="btn btn-primary rounded-pill px-3"
                routerLink="/car/update/{{ car.carId }}"
              >
                <b>Güncelle</b>
              </button>
              <button
                class="btn btn-primary rounded-pill px-3"
                routerLink="/car/delete/{{ car.carId }}"
              >
                <b>Sil</b>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
